/* 
    RESET CSS
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: #11100F;
    color: #fff;
    font-size: 2rem;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a,
img,
span,
iframe,
button {
    display: block;
}

img {
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}


/* 
    Reused css
*/

.btn {
    line-height: 0;
}

.btn-primary {
    background-color: #2461C8;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 0.2px;
    font-size: 1.5rem;
}

.top-header-left,
.top-header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-left-search-box.active,
.header-middle-search-box {
    display: flex;
} 

.header-left-search-box,
.header-middle-search-box.active {
    display: none;
}

.header-left-search-box,
.header-middle-search-box {
    background-color: #252423;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.header-middle-search-box {
    width: 380px;
}

.header-left-search-box:is(:hover, :focus-visible),
.header-middle-search-box:is(:hover, :focus-visible) {
    background-color: #323130;
}

.search-btn {
    color: #76B8FD;
    padding: 7px 10px;
}


.top-header-right .settings-button-dropdown,
.top-header-right .help-button-dropdown,
.top-header-right .announce-button-dropdown {
    position: absolute;
    top: 55px;
    right: 0; 
    bottom: 0;
    background-color: #212121;
    max-width: 350px;
    width: 100%;
    display: none;
    padding-inline: 20px;
    padding-block: 10px;
    z-index: 3;
    border-inline-start: 1px solid #fff;
    overflow-x: auto;
    transition: 1s ease;
}

.top-header-right .settings-button-dropdown.active,
.top-header-right .help-button-dropdown.active,
.top-header-right .announce-button-dropdown.active {
    display: block;
}

.task-body-tasks-list::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.apps-button-dropdown::-webkit-scrollbar,
.settings-button-dropdown::-webkit-scrollbar,
.help-button-dropdown::-webkit-scrollbar,
.announce-button-dropdown::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.task-body-tasks-list::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb,
.apps-button-dropdown::-webkit-scrollbar-thumb,
.settings-button-dropdown::-webkit-scrollbar-thumb,
.help-button-dropdown::-webkit-scrollbar-thumb,
.announce-button-dropdown::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.task-body-tasks-list:is(:hover, :focus-visible)::-webkit-scrollbar-thumb,
.sidebar:is(:hover, :focus-visible)::-webkit-scrollbar-thumb,
.apps-button-dropdown:is(:hover, :focus-visible)::-webkit-scrollbar-thumb,
.settings-button-dropdown:is(:hover, :focus-visible)::-webkit-scrollbar-thumb,
.help-button-dropdown:is(:hover, :focus-visible)::-webkit-scrollbar-thumb,
.announce-button-dropdown:is(:hover, :focus-visible)::-webkit-scrollbar-thumb {
    background-color:#6b6b6b;
    border-radius: 8px;
}

.settings-button-dropdown .dropdown-header,
.help-button-dropdown .dropdown-header,
.announce-button-dropdown .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}


.settings-button-dropdown .dropdown-header h3,
.help-button-dropdown .dropdown-header h3,
.announce-button-dropdown .dropdown-header h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

.settings-button-dropdown .dropdown-header .close-btn,
.help-button-dropdown .dropdown-header .close-btn,
.announce-button-dropdown .dropdown-header .close-btn {
    padding: 10px;
}

.settings-button-dropdown .dropdown-header .close-btn:hover,
.help-button-dropdown .dropdown-header .close-btn:hover,
.announce-button-dropdown .dropdown-header .close-btn:hover {
    background-color: #555555;
}

.sidebar .nav-items,
.dynamic-nav-items {
    width: 100%;
}

.sidebar .nav-items .nav-item, 
.sidebar .dynamic-nav-items .nav-item,
.sidebar .dynamic-nav-items .nav-group-item {
    padding-block: 1rem;
    cursor: pointer;
}

.sidebar .nav-items .nav-item:hover,
.sidebar .dynamic-nav-items .nav-item:hover,
.sidebar .dynamic-nav-items .nav-group:hover {
    background: #323130;
}

.sidebar .nav-items .nav-item.active,
.sidebar .dynamic-nav-items .nav-item.active,
.sidebar .dynamic-nav-items .nav-group.active {
    background-color: #3B3A39;
    border-inline-start: 1px solid #296FE6;
}

.sidebar .nav-items .nav-link,
.sidebar .dynamic-nav-items .nav-link {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 20px;
}

.sidebar .nav-items .nav-link h3,
.sidebar .dynamic-nav-items .nav-link h3,
.sidebar .dynamic-nav-items .nav-group .nav-group-item h3 {
    font-size: 1.4rem;
    font-weight: 400;
}


/*  
    Top-header css
*/

.top-header {
    background-color: #11100F;
    padding-inline: 20px;
    padding-block: 10px;
    border-block-end: 1px solid gray;
    z-index: 3;
}

.top-header-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-header-left .header-logo {
    font-size: 1.5rem;
    font-weight: 500;
}

.top-header-left .header-logo:hover {
    text-decoration: underline;
}

.material-symbols-outlined {
    font-size: 20px !important;
}

.header-middle-search-box input {
    font-size: 1.5rem;
    padding-inline: 2px;
    width: 100%;
    display: none;
}

.search-box-sm input {
    font-size: 1.5rem;
    padding-inline: 2px;
    width: 280px;
    display: none;
}

.header-right-avatar-button .avatar-image {
    width: 30px;
    height: 30px;
}

.avatar-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-left-apps-button .apps-button-dropdown {
    position: absolute;
    top: 0;
    left: -350px;
    bottom: 0;
    background-color: #212121;
    max-width: 350px;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px;
    z-index: 4;
    overflow-x: auto;
    transition: 0.5s ease;
}


.header-left-apps-button .apps-button-dropdown.active {
    left: 0;
}

.apps-button-dropdown .dropdown-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
}

.dropdown-header .ms-apps-store,
.dropdown-body .ms-apps-store {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    color: #46A0FD;
}

.dropdown-body .ms-apps-store {
    margin-inline-start: 2rem;
    margin-block-start: 1.5rem;
}

.ms-apps-store h4 {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.ms-apps-store:hover h4 {
    text-decoration: underline;
}

.apps-button-dropdown .dropdown-body {
    padding-block-start: 1rem;
}

.apps-button-dropdown .lists-title {
    margin-block: 10px;
    font-size: 1.8rem;
    font-weight: 500;
}

.apps-button-dropdown .dropdown-lists {
    display: grid;
    grid-template-columns: auto auto;
    margin-inline-start: 1rem;
    gap: 0.5rem;
}

.dropdown-lists .list-item {
    padding: 1rem;
}

.dropdown-lists .list-item:hover {
    background-color: #3C3C3C;
}

.dropdown-lists .list-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


.dropdown-lists .list-link img {
    width: 20px;
    height: 20px;
}

.dropdown-lists .list-link small {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.settings-button-dropdown .dropdown-body .title {
    padding-block: 2rem .3rem;
    font-size: 1.7rem;
    font-weight: 500;
}

.settings-button-dropdown .dropdown-body .box {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
}

.dropdown-body .box .box-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-block-start: 0.3rem;
}

.dropdown-body .box label {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.dropdown-body .box .box-item .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.dropdown-body .box .box-item .switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.dropdown-body .box .box-item .switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #212121;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #3C3C3C;
}

.dropdown-body .box .box-item .switch .slider::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.dropdown-body .box .box-item .switch input:checked + .slider {
    background-color: #2196F3;
    /* border: none; */
}

.dropdown-body .box .box-item .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
.dropdown-body .box .switch input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.dropdown-body .box .box-item .switch .slider.round {
    border-radius: 34px;
}

.dropdown-body .box .box-item .switch .slider.round:before {
    border-radius: 50%;
}

.settings-button-dropdown .dropdown-body .box small {
    font-size: 1.2rem;
    color: #6b6b6b;
    padding-block: .2rem;
}

.settings-button-dropdown .dropdown-body a,
.settings-button-dropdown .dropdown-body p {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 5px 0px;
}

.settings-button-dropdown .dropdown-body a {
    color: #6BBADA;
}

.settings-button-dropdown .dropdown-body a:hover {
    text-decoration: underline;
}

.settings-button-dropdown .dropdown-body .copyright-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.dropdown-body .copyright-card .content {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.dropdown-body .copyright-card .content h5 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.dropdown-body .copyright-card .content small {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.settings-button-dropdown .dropdown-body .connect {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.settings-button-dropdown .dropdown-body .connect small {
    font-size: 1.3rem;
    font-weight: 400;
}

.help-button-dropdown .dropdown-body a {
    font-size: 1.4rem;
    color:#46A0FD;
}

.help-button-dropdown .dropdown-body a:hover {
    text-decoration: underline;
}

.help-button-dropdown .dropdown-body .uptodate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    gap: 1.5rem;
}

.help-button-dropdown .dropdown-body .uptodate button,
.help-button-dropdown .dropdown-body .uptodate p {
    font-size: 1.4rem;
    font-weight: 500;
}

.announce-button-dropdown .dropdown-body .announce-card {
    background-color: #252423;
    box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
    box-shadow: 0px 0.3px 0.9px #252423,0px 1.6px 3.6px #252423;
    margin-block: 2rem;
    border-radius: 5px;
}

.announce-button-dropdown .dropdown-body .announce-card .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.announce-button-dropdown .dropdown-body .announce-card .card-content {
    padding: 2rem;
}

.announce-button-dropdown .dropdown-body .announce-card .card-content p {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.announce-button-dropdown .dropdown-body .announce-card .card-content button {
    border: 1px solid #605e5c;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 12px;
    margin-block-start: 1rem;
}

.announce-button-dropdown .dropdown-body .announce-card .card-content button:hover {
    background-color: #323130;
}

.announce-button-dropdown .dropdown-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #fff;
    padding: 10px;
}

.announce-button-dropdown .dropdown-footer .content {
    margin-inline-end: auto;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.announce-button-dropdown .dropdown-footer img {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.header-right-avatar-button .avatar-popovers {
    position: absolute;
    top: 52px;
    right: 0;
    background-color: #1B1A19;
    max-width: 350px;
    display: none;
    width: 100%;
    z-index: 5;
    padding-inline: 15px;
    padding-block: 10px;
    box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1), 0px 1.6px 3.6px rgba(0,0,0,0.1);
    box-shadow: 0px 0.3px 0.9px #252423,0px 1.6px 3.6px #252423;
    border-block-end: 1px solid #f1f1f1;
}

.header-right-avatar-button .avatar-popovers.active {
    display: block;
}

.header-right-avatar-button .avatar-popovers .avatar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-right-avatar-button .avatar-popovers .avatar-header h5,
.header-right-avatar-button .avatar-popovers .avatar-header a {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.header-right-avatar-button .avatar-popovers .avatar-header a {
    padding: 10px;
}

.header-right-avatar-button .avatar-popovers .avatar-header a:hover {
    background-color: #3F3F3F;
    text-decoration: underline;
}

.header-right-avatar-button .avatar-popovers .avatar-header .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-block-start: 1rem;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card .card-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card .card-content h4 {
    font-size: 1.7rem;
    font-weight: 500;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card .card-content h5,
.header-right-avatar-button .avatar-popovers .avatar-body-card .card-content a {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card .card-content a {
    color: #2196F3;
}

.header-right-avatar-button .avatar-popovers .avatar-body-card .card-content a:hover {
    text-decoration: underline;
}


/*  
    SIDEBAR
*/

.sidebar {
    position: fixed;
    top: 55px;
    left: -350px;
    bottom: 0;
    background-color: #252423;
    max-width: 280px;
    width: 100%;
    z-index: 2;
    overflow-x: auto;
    transition: .5s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar .sidebar-inner {
    display: grid;
    gap: 1rem;
    place-items: start;
}

.sidebar .sidebar-menu-button {
    padding-inline: 20px;
    padding-block-start: 15px;
}


.border {
    border: 1px solid #3B3A39;
    margin-inline: 20px;
    margin-block-start: 10px;
}

.sidebar .dynamic-nav-items .nav-group .nav-group-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-inline: 20px;
}

.sidebar .dynamic-nav-items .nav-group .nav-group-item .icon-right {
    margin-inline-start: auto;
}

.sidebar .dynamic-nav-items .nav-group .nav-group-item .icon-right .no-expand.active {
    display: none;
}

.sidebar .dynamic-nav-items .nav-group .nav-group-item .icon-right .expand.active {
    display: none;
}

.sidebar .dynamic-nav-items .nav-group-dropdown .group-dropdown-lists {
    overflow: hidden;
    display: none;
}

.sidebar .dynamic-nav-items .nav-group-dropdown .nav-item {
    border-inline-start: 1px solid #A19F9D;
    margin-inline-start: 20px;
}

.sidebar .dynamic-nav-items .nav-group-dropdown .nav-item:hover {
    background-color: #252423;
    width: 100%;
}

.sidebar .sidebar-footer {
    background-color:#252423;
}

.sidebar .sidebar-footer .footer-input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-inline: 20px;
    padding-block: 10px;
    border-block-start: 1px solid #484644;
    display: none;
}

.sidebar .sidebar-footer .footer-input-group.active {
    display: block;
}

.sidebar .sidebar-footer .footer-inner input {
    font-size: 1.5rem;
    font-weight: 400;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-list {
    padding-inline: 20px;
    padding-block: 10px;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-group {
    padding-inline: 20px;
    padding-block: 8px;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-list:hover,
.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-group:hover {
    background-color: #3B3A39;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group .create-group {
    margin-inline-start: auto;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group input::placeholder,
.sidebar .sidebar-footer .footer-inner .footer-create-list-group span {
    color: #78BAFD;
}

.sidebar .sidebar-footer .footer-inner .footer-create-list-group input:is(:focus-visible)::placeholder {
    color: #A19F9D;
}

/* task body */

.task-body {
    background-color: #11100F;
    position: absolute;
    top: 75px;
    left: 300px;
    bottom: 0;
    max-width: 76%;
    width: 100%;
}

.task-body .task-body-inner .task-body-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.task-body-header .body-header-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.task-body-header .body-header-left small {
    margin-block-start: auto;
}

.task-body-header .body-header-left-inner,
.task-body-header .body-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.body-header-right .header-right-sort-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.task-body .task-body-header .body-header-left h3 {
    font-size: 2.1rem;
    font-weight: 400;
}

.task-body .task-body-header .body-header-left small {
    font-size: 1.3rem;
    font-weight: 400;
    color: #797775;
}

.task-body .task-body-header .body-header-right .btn-with-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
}

.task-body .task-body-header .body-header-right .btn-with-text:hover {
    background-color: #292827;
    border-radius: 5px;
}

.task-body .task-body-header .body-header-right .btn-with-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #797775;
}

.task-body .task-body-header .body-header-right .btn-with-text span {
    color: #797775;
}

.task-body-input {
    margin-block: 3rem;
}

.task-body-input-inner {
    background-color: #252423;
    border-radius: 5px;
}

.task-body-input .input-item {
    border-block-end: 1px solid #605E5C;
    padding-block: 1.5rem;
}

.task-body-input .input-item,
.task-body-input .input-tools {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-inline-start: 1.5rem;
}

.task-body-input .input-item input {
    font-size: 1.5rem;
}

.task-body-input .input-item span {
    color:#78BAFD;
}

.task-body-input .input-item input::placeholder {
    color:#78BAFD;
    font-size: 1.4rem;
}

.task-body-input .input-item:focus-within input::placeholder {
    color: #fff;
}

.task-body-input .input-tools {
    padding-block: 0.8rem;
}

.task-body-input .input-tools button span {
    padding: 2px 5px;
    border-radius: 3px;
    transition: 0.2 ease;
}

.task-body-input .input-tools button span:hover {
    background-color: #302f2d;
}

.task-body-input .input-tools span {
    color: #a19f9d;
}

.task-body-input .input-tools .left {
    margin-inline-start: auto;
}

.task-body-input .input-tools .left h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-inline-end: 1rem;
    border: 1px solid #a19f9d;
    color: #a19f9d;
    padding: 3px 5px;
}

.task-body-tasks-list {    
    height: 50vh;
    overflow-x: auto;
}

.task-body-tasks-list .task-item {
    background-color: #252423;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-inline-start: 1.5rem;
    border-radius: 5px;
    padding-block: 0.7rem;
    margin-block: 1rem;
}

.task-body-tasks-list .task-item button .material-symbols-outlined {
    color: #78BAFD;
    font-size: 1.7rem !important;
}

.task-body-tasks-list .task-item .task-details {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
}

.task-body-tasks-list .task-item .task-details .task-name {
    font-size: 1.3rem;
    font-weight: normal;
}

.task-body-tasks-list .task-item .task-details .task-group {
    font-size: 1.1rem;
    font-weight: normal;
    color: #a19f9d;
}

.task-body-tasks-list .task-item .task-fav {
    margin-inline-start: auto;
    padding-inline-end: 1.5rem;
} 

@media only screen and (max-width: 1200px) {
    body {
        display: none;
    }
}